<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-item>
      <div id="topNav">
        <p (click)="goBack()" id="week">Week 51</p>
        <ion-icon id="plusIcon" name="add-circle"></ion-icon>
      </div>
    </ion-item>
  </ion-header>
  <div class="boxDay">
    <p class="textDay">MON, 23 DECEMBER</p>
    <div id="rowFlex">
      <p id="totalHours">08:17:31</p>
      <img src="../../assets/Work_GladiatorEquip_White.svg">
    </div>

  </div>
  <div class="box"  *ngFor="let task of worklogHoursArray" >
    <div class="columnFlex"  >
      <p class="textBox">{{task.worklog.name}}</p>
      <p class="description">{{task.worklog.description}}</p>
    </div>
    <div class="dots">
      <p class="hours">{{task.hours.hours | add04}}:{{task.hours.minutes | add04}}:00</p>
      <img class="dotImage" src="../../assets/Edit%20Hours-black.svg">
    </div>

  </div>
  <div id="overall">
    <div class="todayDiv margin">
      <p class="textTotalHours">TOTAL HOURS</p>
      <p class="textNumberTotalHours">08:17:31</p>
    </div>
    <div class="todayDiv margin">
      <p class="textBreak">Break time</p>
      <p class="textNumberBreak">00:45:00</p>
    </div>
  </div>
</ion-content>
