<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-item>
      <div id="topNav">
        <p (click)="goBack()" id="month">December</p>
        <ion-icon id="plusIcon" name="add-circle"></ion-icon>
      </div>
    </ion-item>
  </ion-header>
  <div class="boxWeek">
    <p class="textWeek">WEEK {{weekHours.weekNumber}}</p>
  </div>
  <div *ngIf="allDataReceived">
    <div (click)="goToDay()" class="box" *ngFor="let date of weekDates" >
      <div class="columnFlex"  >
        <p class="textBox">{{date.weekDate}}</p>
        <p class="hours">Hours {{date.hours.hours |add06}}:{{date.hours.minutes | add06}}:00 </p>
      </div>
      <img class="image" src="../../assets/guardian.svg">
    </div>
  </div>
</ion-content>
